@media (max-width: 1500px) {

    /*===Header styles===*/

    nav {
        display: flex;
        flex-direction: column;
    }

    #navbar-options {
        display: none;
    }

    #navbar-options.active {
        display: flex;
        flex-direction: column;
        padding-top: 16px;
        padding-bottom: 16px;
        align-items: center;
        gap: 24px;
        z-index: 1000;
    }

    #navbar-options.active a {
        color: #FFFFFF;
    }

    #mobile-menu {
        display: flex;
    }
    #mobile-menu button {
        padding: 8px 16px;
        font-size: 24px;
        border-radius: 8px;
        background-color: #10B981;
        color: #FFFFFF;
        border-style: none;
        cursor: pointer;
    }

    /*===Header styles===*/

}

@media (max-width: 1080px) {

    /*===Hero section styles===*/

    #hero-section {
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hero-image-container {
        display: none;
    }

    #hero-text {
        margin-top: 32px;
        margin-right: 0;
        gap: 16px;
    }

    #hero-cta {
        margin-top: 16px;
    }

    /*===Hero section styles===*/


    /*===Functionality section styles===*/

    #mobile-icon {
        display: flex;
        font-size: 128px;
        justify-content: center;
    }    
    
    .card-row {
        flex-direction: column;
    }

    #desktop-icon {
        display: none;
    }
        

    /*===Functionality section styles===*/


    /*===Suscription plans section styles===*/

    #suscription-plans-section .card-row {
        flex-direction: column;
    }

    /*===Suscription plans section styles===*/


    /*===Contact form section styles===*/

    #contact-image-container {
        display: none;
    }

    #data-container {
        flex-direction: column;
        gap: 32px;
    }

    /*===Contact form section styles===*/


    /*===Footer styles===*/

    #footer-top {
        flex-direction: column;
        gap: 32px;
    }

    #footer-bottom {
        margin-top: 32px;
    }

    /*===Footer styles===*/

}

@media (max-width: 420px) {

    /*===Global styles===*/

    h1 {
        font-size: 48px;
    }

    /*===Global styles===*/

    /*===Header styles===*/

    nav {
        padding: 16px;
        gap: 16px;
    }

    #menu-bar {
        gap: 16px;
    }

    /*===Header styles===*/

    /*===Suscription plans section styles===*/

    #suscription-plans-section .card {
        padding: 32px;
        width: 65%;
        border-radius: 16px;
    }

    .card h3 {
        font-size: 24px;
        text-align: center;
    }

    .card h2 {
        font-size: 28px;
        text-align: center;
    }

    .card p {
        font-size: 14px;
        text-align: center;
    }

    .card ul {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .card li {
        font-size: 16px;
        text-align: center;
    }

    /*===Suscription plans section styles===*/

}